prod_defs_draft.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- 
 Copyright 2016 Bloomberg LP. All rights reserved.
 FpML Public License Version 2.0
 http://www.fpml.org/the_standard/fpml-public-license/
-->

<xsd:schema elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fpml.org/FpML-5/pretrade" targetNamespace="http://www.fpml.org/FpML-5/pretrade"
            xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" ecore:documentRoot="FpML" ecore:nsPrefix="pre" ecore:package="org.fpml.pretrade">
    
    <xsd:include schemaLocation="pretrade59/fpml-main-5-9.xsd" />
    
    <xsd:element name="tradeSideReference" type="Reference" abstract="true">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">An abstract element used as a place holder for the substituting trade side reference depending on product type.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:complexType name="ComponentTradeSideReference">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Reference to a component of the package that defines the package trade side.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="Reference">
                <xsd:attribute name="href" type="xsd:IDREF" use="required" ecore:reference="ComponentProduct" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="SwapStreamSideReference">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Reference to a swapStream of the swap that defines the trade side.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="Reference">
                <xsd:attribute name="href" type="xsd:IDREF" use="required" ecore:reference="SwapStream" />
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="PlatformConventions">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Platform conventions can be used to specify conventions enforced by a trading platform that could be specific to the trading platform alone.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="maximumQuotePrecisionDecimal" type="xsd:int" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Maximum precision in decimal places for providing quotes.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="minContractClipSize" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Minimum size of a contract, when a given contract is traded, its size must be a multiple of this value.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TradeConventions">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Trade conventions can be used to specify street-wide conventions that are applicable when trading this product.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="quoteType" type="xsd:string">
                <!-- this must be an enum of some sort -->
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Name of the economic value that serves as a single quote value during negotiation and will be used to determine best bid/offer.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="quoteUnit" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Units in which quote values are measured.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ProductConventions">
        <xsd:sequence>
            <xsd:element name="platformConventions" type="PlatformConventions" />
            <xsd:element name="tradingConventions" type="TradeConventions" />
            <!--  do we want this in the first draft? -->
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ComponentProduct">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Definition of an underlying product which is part of a package.
                A full product definition of the component may be provided elsewhere within the document, in this case the product
                definition should be referred to by specifying productDefinitionsReference.
                In the case when the component is not defined within the product definitions document, product id should be provided.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="productId" type="ProductId" />
                <xsd:element name="productDefinitionReference" type="ProductReference" />
            </xsd:choice>
            <xsd:choice>
                <xsd:annotation>
                    <xsd:documentation>For cross-asset packages it may be necessary to use either PayerReceiver.model or BuyerSeller.model whichever is logically applicable to the component product.
                    For example, a bond will require BuyerSeller.model but a swap will require PayerReceiver.model.</xsd:documentation>
                </xsd:annotation>
                <xsd:group minOccurs="0" ref="PayerReceiver.model" />
                <xsd:group minOccurs="0" ref="BuyerSeller.model" />
            </xsd:choice>
            <xsd:element name="hedgeRiskWeight" type="xsd:double" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Risk weight is applicable to packages with RiskNeutral hedge type.
                        For example, a risk weight of 1.0 on each leg would means that the quantities are calculated such that the risk of both legs is equal.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="componentId" type="xsd:ID" use="required" />
    </xsd:complexType>

    <xsd:complexType name="StandardPackage">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">A standard package is a type of strategy which consists of several single instruments, also known as underlying instruments. All underlying instruments must be also specified in the product definition, so that the can be referred to by their identifier.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="productId" type="ProductId" minOccurs="1" maxOccurs="unbounded" />
            <xsd:element name="packageName" type="xsd:string" />
            <xsd:element name="hedgeType" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>Hedged type how quantities on each component product are calculated.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="component" type="ComponentProduct" minOccurs="2" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ProductDefinition">
        <xsd:sequence>
            <xsd:element name="description" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Optional "user-friendly" name for the product used for annotation purposes</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="conventions" type="ProductConventions" minOccurs="0" />
            <xsd:choice>
                <xsd:element name="package" type="StandardPackage">
                    <xsd:annotation>
                        <xsd:documentation>Definition of a standard package that consists out of several products</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element ref="product" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>FpML product definition</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element ref="tradeSideReference" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>If this definition is for a single product, tradeSideReference can be of type tradeSideRelativeToSwapStream and refer to the swapStream id that determines the trade side.
                    If this definition is for a standard package, tradeSideReference can be of type tradeSideRelativeToComponent which refers to the component product that determines the trade side.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID" />
    </xsd:complexType>

    <xsd:element name="tradeSideRelativeToComponent"  type="ComponentTradeSideReference" substitutionGroup="tradeSideReference">
        <xsd:annotation>
            <xsd:documentation>Refer to the component product defined within standard package definition where this field is defined.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="tradeSideRelativeToSwapStream" type="SwapStreamSideReference"    substitutionGroup="tradeSideReference">
        <xsd:annotation>
            <xsd:documentation>Refer to the swap stream defined within the product definition where this field is defined.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="ProductDefinitionsHeader" >
        <xsd:sequence>
            <xsd:element name="platformDate" type="xsd:date" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ProductDefinitions">
        <xsd:sequence>
            <xsd:element name="header" type="ProductDefinitionsHeader" />
            <xsd:element name="definition" maxOccurs="unbounded" type="ProductDefinition" />
            <xsd:group ref="PartiesAndAccounts.model" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="ProductDefinitionsDocument" type="ProductDefinitions" />

</xsd:schema>
